.id {
    max-width: 80%;
}

nav {
    display: flex;
    justify-content: space-between;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}
  
.navbar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 20px;
}
